/* Container principal */
.mainStyle {
    display: flex;
    height: 100vh;
}

/* Conteúdo entre o header e o footer */
.contentStyle {
    display: flex;
    flex: 1;
    overflow: hidden;
}

/* Configura o <main> */
.contentMain {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

/* Div interna do <main> com rolagem */
.scrollableContent {
    display: flex;
    flex: 1;
    overflow-y: auto;
    padding: 0 15px;
}

.ta-c {
    text-align: center;
}